@import "../../../assets/scss/varibles";

.add-column {
  width: 272px;
  margin:10px 5px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  .add-button {
    border-radius: 3px;
    background-color: $grey;
    .placeholder {
      display: flex;
      align-items: center;
      color: $text;
      padding: 12px;
      transition: all 0.3s linear;
      cursor: pointer;

      &:hover {
        color: $black;
      }

      i {
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }

  .form {
    display: none;
    padding: 10px;

    .input {
      input[type='text'] {
        background-color: #FFFFFF;
        border: 2px solid #0079bf;
        border-radius: 3px;
        width: 100%;
        outline: none;
        resize: none;
        padding: 6px;
        margin-bottom: 5px;
      }
    }

    .textarea {
      textarea {
        background-color: #FFFFFF;
        border: 2px solid #0079bf;
        border-radius: 3px;
        width: 100%;
        outline: none;
        resize: none;
        padding: 6px;
        font-weight: 700;
        margin-bottom: 5px;
      }
    }

    .nav {
      display: flex;
      align-items: center;

      button {
        background-color: #0079bf;
        outline: none;
        border: none;
        box-shadow: none;
        color: #ffffff;
        height: 32px;
        border-radius: 3px;
        padding: 6px 12px;
        margin-right: 5px;
        cursor: pointer;
      }

      i {
        font-weight: 300;
        font-size: 26px;
        cursor: pointer;
      }
    }
  }
}