@import "../../../assets/scss/varibles";

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  padding: 5px;
  width: 400px;
  min-height: 200px !important;
  display: block;
  resize: none;
  background-color: #eee;
}

