@import "../../../assets/scss/varibles";

.add-card {
  border-radius: 3px;

  .add-button {
    border-radius: 3px;
    background-color: $grey;
    transition: all 0.3s ease-in;

    .placeholder {
      display: flex;
      align-items: center;
      color: $text;
      padding: 10px;
      font-weight: 400;
      transition: all 0.3s linear;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        background-color: rgba(9, 30, 66, 0.08);
        color: $black;
      }

      i {
        font-size: 14px;
        margin-right: 5px;
      }


    }

    .placeholder.hide {
      display: none;
    }
  }


  .form {
    display: none;

    .input {
      input[type='text'] {
        background-color: #FFFFFF;
        border: 2px solid #0079bf;
        border-radius: 3px;
        width: 100%;
        outline: none;
        resize: none;
        padding: 6px;
        font-weight: 700;
        transition: all 0.3s linear;
        margin-bottom: 5px;
      }
    }

    .textarea {
      textarea {
        background-color: #FFFFFF;
        border: 2px solid #0079bf;
        border-radius: 3px;
        width: 100%;
        outline: none;
        resize: none;
        padding: 6px;
        transition: all 0.3s linear;
        margin-bottom: 5px;
      }

    }

    .nav {
      display: flex;
      align-items: center;

      button {
        background-color: #0079bf;
        outline: none;
        border: none;
        box-shadow: none;
        color: #ffffff;
        height: 32px;
        border-radius: 3px;
        padding: 6px 12px;
        margin-right: 5px;
        cursor: pointer;
      }

      i {
        font-weight: 300;
        font-size: 26px;
        cursor: pointer;
      }
    }
  }

  .form.show {
    display: block;
  }
}
