@import "../../assets/scss/varibles";

.registration-page {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  position: relative;

  .nav {
    a {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
      margin: 40px 8px 10px 8px;
      color: #cccccc;
      cursor: pointer;
      text-decoration: navajowhite;

      &:hover {
        color: #0d0d0d;
      }

      &.active {
        color: #0d0d0d;
        border-bottom: 2px solid #5fbae9;
      }

    }
  }

  .error-message {
    padding: 10px 0px;
    font-size: 20px;
    color: #FF0000FF;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .form {
    border-radius: 10px 10px 10px 10px;
    background: #FFFFFF;
    padding: 30px;
    width: 100%;
    max-width: 450px;
    position: relative;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
  }


  input[type=text],
  input[type=email],
  input[type=password] {
    background-color: #f6f6f6;
    border:2px solid transparent;
    outline:none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0px;
    width: 100%;
    border-radius: 5px;


    &:focus {
      border:2px solid #0079bf;
      background-color: #fff;
      border-radius: 5px;
    }

    &::placeholder {
      font-size: 16px;
      color: #cccccc;
    }
  }


  button[type=submit] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px 5px 5px 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;


    @media screen and (max-width:576px) {
      padding: 15px 0px;
      width: 100%;
    }

    &:hover {
      background-color: #39ace7;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

