@import "../../../assets/scss/varibles";

.column.drop {
  border: 2px dashed #000000;
}

.column.drop .column-header {
  pointer-events: none;
}

.column.drop .column-list {
  pointer-events: none;
}

.column.drop .column-footer {
  pointer-events: none;
}

.column {
  flex-basis: 272px;
  background-color: $grey;
  border-radius: 3px;
  cursor: grab;

  .column-header {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input {
      width: 100%;

      input[type='text'] {
        cursor: pointer;
        background-color: transparent;
        box-shadow: none;
        border-radius: 3px;
        width: 100%;
        outline: none;
        border: none;
        resize: none;
        padding: 6px;
        font-weight: 700;
        transition: all 0.3s linear;

        &:focus {
          background-color: #fff;
          box-shadow: inset 0 0 0 2px #0079bf;
        }
      }
    }

    .nav {
      i {
        display: block;
        margin: 0px 10px;
        color: #ff0000;
        cursor: pointer;
      }
    }
  }

  .column-list {
    display: grid;
    row-gap: 10px;
  }

  .column-footer {
    cursor: pointer;
    margin: 10px;
  }

}
