@import "../../assets/scss/varibles";

.header {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #f1f1f1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-weight: 300;
    font-size: 30px;
    margin: 0px;
  }

  button[type=button] {
    font-weight: 300;
    background-color: #56baed;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px 5px 5px 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #39ace7;
    }

    &:active {
      transform: scale(0.95);
    }
  }

}
