@import "../../../assets/scss/varibles";

.card {
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
  border-radius: 3px;
  cursor: grab;
  margin: 0px 10px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    .text {
      margin-right: 5px;
      overflow: hidden;
    }

    .nav {
      display: flex;
      align-items: center;

      i {
        margin-right: 10px;
        z-index: 2;
        cursor: pointer;
        font-size: 14px;

        &:last-child {
          color: #ff0000;
          margin: 0px;
        }
      }
    }
  }

  .form {
    display: none;

    .input {
      input[type='text'] {
        background-color: #FFFFFF;
        box-shadow: inset 0 0 0 2px #0079bf;
        border-radius: 3px;
        width: 100%;
        outline: none;
        border: none;
        resize: none;
        padding: 6px;
        font-weight: 700;
        transition: all 0.3s linear;
        margin-bottom: 5px;
      }
    }

    .textarea {
      textarea {
        background-color: #FFFFFF;
        box-shadow: inset 0 0 0 2px #0079bf;
        border-radius: 3px;
        width: 100%;
        outline: none;
        border: none;
        resize: none;
        padding: 6px;
        transition: all 0.3s linear;
        margin-bottom: 5px;
      }

    }

    .nav {
      display: flex;
      align-items: center;

      button {
        background-color: #0079bf;
        outline: none;
        border: none;
        box-shadow: none;
        color: #ffffff;
        height: 32px;
        border-radius: 3px;
        padding: 6px 12px;
        margin-right: 5px;
        cursor: pointer;
      }

      i {
        font-weight: 300;
        font-size: 26px;
        cursor: pointer;
      }
    }
  }

  .form.show {
    display: block;
  }
}


